<section class="pagination">
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle [ngClass]="{'pagination-item--disabled': !links.prev}" (click)="paginateFirst()" value="first"> << </mat-button-toggle>
        <mat-button-toggle [ngClass]="{'pagination-item--disabled': !links.prev}" (click)="paginatePrevious()" value="prev"> < </mat-button-toggle>
        <mat-button-toggle [ngClass]="{'pagination-item--disabled': !links.next}" (click)="paginateNext()" value="next"> > </mat-button-toggle>
        <mat-button-toggle [ngClass]="{'pagination-item--disabled': !links.next}" (click)="paginateLast()" value="last"> >> </mat-button-toggle>
    </mat-button-toggle-group>
</section>
 