<h2>{{'TITLES.PET_FEATURES' | translate}}</h2>
<table mat-table [dataSource]="tablePets" (matSortChange)="sortData($event)" [matSortActive]="sortType.criteria" [matSortDirection]="sortType.direction" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="photo_url">
        <th mat-header-cell *matHeaderCellDef> {{'PET.PHOTO' | translate}} </th>
        <td mat-cell *matCellDef="let element"> 
            <img [src]="element.photo_url"> </td>
      </ng-container>
    
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'PET.NAME' | translate}} </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'PET.WEIGHT' | translate}} ({{'PET.WEIGHT_UNIT' | translate}})</th>
      <td mat-cell *matCellDef="let element"> {{element.weight}} {{'PET.WEIGHT_UNIT' | translate}} </td>
    </ng-container>
  
    <ng-container matColumnDef="height">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'PET.HEIGHT' | translate}} ({{'PET.HEIGHT_LENGTH_UNIT' | translate}}) </th>
      <td mat-cell *matCellDef="let element"> {{element.height}} {{'PET.HEIGHT_LENGTH_UNIT' | translate}}</td>
    </ng-container>
  
    <ng-container matColumnDef="length">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'PET.LENGTH' | translate}} ({{'PET.HEIGHT_LENGTH_UNIT' | translate}}) </th>
      <td mat-cell *matCellDef="let element"> {{element.length}} {{'PET.HEIGHT_LENGTH_UNIT' | translate}} </td>
    </ng-container>

    <ng-container matColumnDef="kind">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'PET.KIND' | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.kind}} </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="navigateToDetails(row)"></tr>
  </table>

  <app-table-pagination [links]="pets.links" (paginate)="onPaginate($event)"></app-table-pagination>
